html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.custom-layout {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 220px 100vw;
  grid-template-rows: 70px auto;
}

.sidebar {
  background-color: gray;
  grid-column: 1 / 2;
  grid-row-start: 2;
  grid-row-end: 3;
  position: fixed;
  height: 100vh;
  width: 220px;
  padding-top: 65px;
}

/* .header-sidebar {
  background-color: rgb(51, 51, 51);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 250px;
  padding-right: 40px;

} */

.header {
  background-color: rgb(51, 51, 51);
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: left;
  align-items: center;

  position: fixed;
  width: 100%;
}

.content {
  background-color: beige;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  height: 1500px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.sidebar-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  background: none;
  border: none;
  padding-left: 20px;
}

.sidebar-btn-icon {
  height: 40px;
  width: 40px;
  color: white;
  

}

.sidebar-txt {
  font-size: 50px;
  color: white;
  margin-left: 15px;
}

.list-sidebar {
  list-style: none;
  margin-top: 25px;
}

.sidebar-item {
  color: white;
  font-size: 20px;
  margin-top: 30px;
  width: 270px;
  padding-left: 9px;
}

.sidebar-list-icon {
  width: 20px;
  height: 20px;
  color: white;
  margin-right: 5px;
}

.sidebar-title {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 15px;
}

.sidebar-link {
  text-decoration: none;
  display: flex;
}



.centered {
    padding-top: 200px;
    text-align: center;
    height: 100vh;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
